# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
# make sure not to commit the coverage data from mocha/istanbul/coveralls
coverage
# no need to keep around the npm debugging log
npm-debug.log